
/* header {
    
} */

nav {
   display: grid; 
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 50px 50px;
   grid-column: 1 / -1;
  
   background: gray;
   
   
} 

 a {
     color: black;
     font-family: 'Times New Roman', Times, serif;
 }

/* check to see if container is what I need. */
.container {
display: grid; 
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);


background: lightgray;


}
/* the button is not done. */
button {
    display: grid;
     grid-template: 1fr / 1fr;
     grid-column: 2 / 3;
     
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: powderblue;
    margin: 10px 0px 0px 0px;
    border-color: darkcyan;
    
}
